@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #111827;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.markdown-content p {
  margin-bottom: 0.5rem;
}
.markdown-content ul {
  list-style-type: disc;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
.markdown-content a {
  color: #007bff;
  text-decoration: underline;
}